@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
  --green: #3d6e00;
  --light-green: #a2b48b;
  --drak-blue: #35415f;
  --light-blue: #94a4cb;
  --sand: #ce9a54;
  --light-sand: #e2be8f;
  --science: #1d707b;
  --light-science: #90c1c7;
  --purple: #80638d;
  --light-purple: #c7add3;
  --font: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

main {
  margin: 0;
  padding: 0;
  min-height: 80vh;
}

/* Nav bar */
header {
  min-height: 105px;
  -webkit-box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.5);
}

.logo {
  padding-top: 10px;
  padding-left: 40px;
  max-width: 130px;
}

nav,
#hamburger-menu {
  display: none;
}
nav ul {
  padding-left: 15px;
}

nav li {
  display: block;
}

nav a {
  font-size: 14px;
  font-family: var(--font);
  text-decoration: none;
  color: #000000;
  padding: 10px;
  display: block;
}

nav a:hover {
  font-weight: bold;
}

.current {
  font-weight: bold;
}

.hamburger-label {
  float: right;
  color: var(--green);
  padding: 10px;
  font-size: 1.5rem;
  display: block;
}

#hamburger-menu:checked ~ nav {
  display: inline-block;
}

.button {
  margin-right: 20px;
  color: white;
  background-color: var(--green);
}

/* Nav bar */

/* frontpage */
.frontpage {
  background-image: url("../images/background-img.jpg");
  height: 75vh;
  padding: 0;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.front-text {
  max-width: 400px;
  font-family: var(--font);
  color: white;
  background-color: var(--green);
  display: flex;
  flex-direction: column;
  float: left;
  margin-top: 100px;
  margin-left: 70px;
  padding: 30px;
}

.front-text h1 {
  text-align: left;
}

h2 {
  font-family: var(--font);
  text-align: center;
  font-size: 2rem;
  padding: 20px 0px;
}

.front-text .info {
  line-height: 30px;
}

.front-text a {
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: var(--green);
  background-color: white;
  padding: 15px 0px;
  margin: 10px 140px;
}

.front-text a:hover {
  box-shadow: 0px 0px 8px 1px #000000;
}
/* frontpage */

/* Exhibition Spaces */
.exh-spaces {
  padding-bottom: 50px;
}

.exh-spaces h2 {
  padding-top: 40px;
  font-family: var(--font);
  text-align: center;
  font-size: 2rem;
}

.spaces {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cos {
  margin: 0px 60px 60px 60px;
  max-width: 100%;
  background-color: var(--drak-blue);
  color: white;
}

.evo {
  margin: 60px;
  max-width: 100%;
  background-color: var(--sand);
  color: white;
}

.bio-med {
  margin: 60px;
  max-width: 100%;
  background-color: var(--science);
  color: white;
}

.rob-ai {
  margin: 60px;
  max-width: 100%;
  background-color: var(--purple);
  color: white;
}

.eco {
  margin: 60px;
  max-width: 100%;
  background-color: var(--green);
  color: white;
}

.spaces img {
  max-width: 300px;
  float: left;
  margin-right: 40px;
}

.cos p,
.bio-med p,
.eco p,
.evo p,
.rob-ai p {
  font-size: medium;
  text-align: left;
  line-height: 30px;
  font-family: var(--font);
  margin: 30px;
}

/* Exhibition Spaces */

/* News section */
h1 {
  font-family: var(--font);
  text-align: center;
  font-size: 2rem;
}

.news-section {
  background-color: var(--light-green);
  padding-bottom: 60px;
}

.heading-news {
  padding-top: 50px;
  margin-bottom: 0;
  color: white;
  background-color: var(--light-green);
  text-shadow: 2px 0px 8px #000000;
}

.news {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.item {
  background-color: white;
  font-family: var(--font);
  max-width: 350px;
  margin: 10px;
  color: #000000;
  box-shadow: 0px 0px 5px 1px #000000;
  transition: all 0.3s ease;
}

.item:hover {
  box-shadow: 0px 0px 10px 4px #000000;
  transition: all 0.3s ease;
}

.item img {
  max-width: 350px;
  padding-bottom: 10px;
}

.item h3 {
  font-size: 17px;
}

.item p {
  padding: 0px 10px;
  justify-content: center;
  font-size: 14px;
  line-height: 23px;
}

/* News section */

/* Footer */
footer {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #e5e5e5;
  display: block;
}

.inner-footer {
  font-family: var(--font);
  width: 95%;
  margin: auto;
  padding: 30px 30px 5px 30px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.fot-items {
  width: 25%;
  padding: 10px 20px;
  box-sizing: border-box;
}

.fot-items p {
  font-size: 15px;
  text-align: left;
  line-height: 25px;
}

.fot-items h3 {
  margin: 10px 0;
}

.border {
  height: 5px;
  width: 60px;
  background-color: var(--green);
}

.fot-items ul {
  list-style: none;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.fot-items a {
  text-decoration: none;
  outline: none;
  color: #000000;
  transition: 0.3s;
}

.fot-items a :hover {
  color: var(--green);
  font-weight: bold;
}

.fot-items p {
  margin: 10px 0;
  height: 25px;
}

.fot-items p i {
  margin-right: 20px;
}

.fot-items img {
  max-width: 220px;
}

.footer-bottom {
  padding: 10px;
  background-color: #1d707b;
  font-family: var(--font);
  color: #ffffff;
}

/* Footer */

/* Explore site */

.explore-main {
  background-color: #fafafa;
  padding-bottom: 35px;
  margin: 0px 125px 40px 125px;
}

.explore-img {
  background-image: url("../images/Explore.jpg");
  height: 60vh;
  padding: 0;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.exp-headings h1,
.exp-headings h2 {
  margin-top: 0px;
  padding: 20px 0px;
  color: #ffffff;
  font-family: var(--font);
  text-align: center;
  font-size: 2rem;
  text-shadow: 2px 0px 8px #000000;
}

.exp-headings .kids {
  background-color: var(--light-green);
}

.exp-headings .teachers {
  background-color: var(--light-purple);
}

.exp-headings .research {
  background-color: var(--light-science);
}

.exp-headings p {
  padding: 10px 0px;
  margin: 0px 40px;
  font-family: var(--font);
  line-height: 30px;
  font-size: 14px;
}

.exp-headings .end {
  margin-bottom: 20px;
}
/* Explore site */

/* Get Involved site */
.get-involved-img {
  background-image: url("../images/get-involved.jpg");
  height: 60vh;
  padding: 0;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.exp-headings .support {
  background-color: var(--light-blue);
}

.exp-headings .volunteer {
  background-color: var(--light-sand);
}

.exp-headings .internship {
  background-color: var(--light-green);
}
/* Get Involved site */

/* Visit us site */
.visit-img {
  background-image: url("../images/visit-us.jpg");
  height: 60vh;
  padding: 0;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.info-visit {
  text-align: left;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.text-info {
  font-family: var(--font);
  max-width: 300px;
  margin: 50px 20px;
  line-height: 30px;
}

.text-info h3 {
  padding: 0;
  margin: 0;
}

.text-info img {
  min-width: 200px;
}

.visit-section {
  background-color: #fafafa;
  padding-bottom: 10px;
}

.visit {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.visit-item {
  background-color: white;
  font-family: var(--font);
  max-width: 300px;
  margin: 10px;

  -webkit-box-shadow: 0px 0px 10px 2px #000000;
  box-shadow: 0px 0px 10px 2px #000000;
}

.info-visit i {
  padding-bottom: 10px;
  list-style: none;
  letter-spacing: 0.5px;
}

.visit img {
  max-width: 300px;
  padding-bottom: 10px;
}

.visit-item h3 {
  font-size: 17px;
}

.visit-item p {
  padding: 0px 10px 20px 10px;
  justify-content: center;
  font-size: 14px;
  line-height: 23px;
}
/* Visit us site */

/* Detailspage------> */
.details_text {
  padding: 10px 0px;
  margin: 0px 40px;
  font-family: var(--font);
  line-height: 30px;
  font-size: 14px;
}

.details_image img {
  width: 100%;
  padding: 0;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* Detailspage------> */

/* changes------> */
.news a,
.spaces a {
  text-decoration: none;
}

.details_image {
  margin-bottom: -6px;
}

.cos,
.evo,
.bio-med,
.rob-ai,
.eco {
  box-shadow: 0px 0px 5px 0px #000000;
  transition: all 0.3s ease;
}

.cos:hover,
.evo:hover,
.bio-med:hover,
.rob-ai:hover,
.eco:hover {
  box-shadow: 0px 0px 10px 4px #000000;
  transition: all 0.3s ease;
}
/* changes------> */

/* media queries */

@media (min-width: 1500px) {
  body {
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media (min-width: 2000px) {
  body {
    margin-left: 350px;
    margin-right: 350px;
  }
}

@media only screen and (min-width: 650px) and (max-width: 1100px) {
  .frontpage {
    height: 70vh;
  }

  .front-text {
    margin-left: 100px;
  }

  .spaces {
    flex-direction: column;
    align-items: center;
  }

  .cos {
    max-width: 300px;
  }

  .evo {
    max-width: 300px;
  }

  .bio-med {
    max-width: 300px;
  }

  .rob-ai {
    max-width: 300px;
  }

  .eco {
    max-width: 300px;
  }

  .news {
    flex-direction: column;
    align-items: center;
  }

  .explore-main {
    margin: 0px 100px;
  }

  .explore-main h1,
  .exp-headings h2 {
    font-size: 1.5rem;
  }

  .text-info {
    font-size: 14px;
    margin-top: auto;
  }

  .visit-img {
    height: 25vh;
  }

  .info-visit {
    flex-direction: column;
    align-items: center;
  }

  .visit {
    flex-direction: column;
    align-items: center;
  }

  .get-involved-img {
    height: 25vh;
  }

  .explore-img {
    height: 30vh;
  }
}

@media (max-width: 1085px) {
  .fot-items {
    width: 50%;
  }
}

@media (min-width: 750px) {
  nav {
    display: block;
    float: right;
  }

  .hamburger-label {
    display: none;
  }

  nav ul {
    display: flex;
  }

  nav li {
    display: inline-block;
  }

  nav a {
    padding: 20px 35px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 650px) {
  .front-text {
    max-width: 300px;
    padding: 20px;
    margin-left: 17px;
    text-align: center;
  }

  .front-text h1 {
    text-align: center;
    font-size: x-large;
  }

  .front-text a {
    padding: 15px 0px;
    margin: 20px 100px;
  }

  .spaces img {
    max-width: inherit;
    padding-bottom: 10px;
  }

  .news {
    flex-direction: column;
    align-items: center;
  }

  .exp-headings h1,
  .exp-headings h2 {
    font-size: 20px;
  }

  .explore-img {
    height: 23vh;
  }

  .explore-main {
    margin: 0px 50px;
  }

  .info-visit {
    flex-direction: column;
    align-items: center;
  }

  .visit {
    flex-direction: column;
    align-items: center;
  }

  .visit-img {
    height: 25vh;
  }

  .get-involved-img {
    height: 25vh;
  }

  .fot-items {
    width: 100%;
  }
}
