body {
  margin: 0;
}

main {
  margin: 0;
  padding: 0;
  min-height: 80vh;
}

/* Nav bar */
header {
  min-height: 105px;
  -webkit-box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.5);
}

.logo {
  padding-top: 10px;
  padding-left: 40px;
  max-width: 90px;
}

nav,
#hamburger-menu {
  display: none;
}
nav ul {
  padding: 0px;
}

nav li {
  display: block;
}

nav a {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #000000;
  padding: 10px;
  display: block;
}

nav a:hover {
  font-weight: bold;
}

.current {
  font-weight: bold;
}

.hamburger-label {
  float: right;
  color: #3d6e00;
  padding: 10px;
  font-size: 1.5rem;
  display: block;
}

#hamburger-menu:checked ~ nav {
  display: inline-block;
}

.button {
  color: white;
  background-color: #3d6e00;
}

@media (min-width: 750px) {
  nav {
    display: block;
    float: right;
  }

  .hamburger-label {
    display: none;
  }

  nav ul {
    display: flex;
  }

  nav li {
    display: inline-block;
  }

  nav a {
    padding: 20px 35px;
  }
}
/* Nav bar */

/* frontpage */
.frontpage {
  background-image: url("../images/background-img.jpg");
  height: 100vh;
  padding: 0;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.front-text {
  max-width: 400px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #3d6e00;
  display: flex;
  flex-direction: column;
  float: left;
  margin-top: 100px;
  margin-left: 70px;
  padding: 30px;
}

.front-text h1 {
  text-align: left;
}

.front-text .info {
  line-height: 30px;
}

.front-text a {
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: #3d6e00;
  background-color: white;
  padding: 15px 0px;
  margin: 10px 140px;
}

.front-text a:hover {
  box-shadow: 0px 0px 8px 1px #000000;
}
/* frontpage */

/* Exhibition Spaces */
.exh-spaces {
  padding-bottom: 50px;
}

.exh-spaces h1 {
  padding-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2rem;
}

.cos {
  margin: 60px;
  max-width: 100%;
  background-color: #35415f;
  color: white;
}

.evo {
  margin: 60px;
  max-width: 100%;
  background-color: #ce9a54;
  color: white;
}

.bio-med {
  margin: 60px;
  max-width: 100%;
  background-color: #1d707b;
  color: white;
}

.rob-ai {
  margin: 60px;
  max-width: 100%;
  background-color: #80638d;
  color: white;
}

.eco {
  margin: 60px;
  max-width: 100%;
  background-color: #3d6e00;
  color: white;
}

img {
  max-width: 300px;
  float: left;
  margin-right: 40px;
}

.cos p,
.bio-med p,
.eco p {
  font-size: medium;
  text-align: left;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 55.5px 20px;
}

.evo p,
.rob-ai p {
  font-size: medium;
  text-align: left;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 70.5px 20px;
}

/* Exhibition Spaces */

/* News section */
h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2rem;
}

.news-section {
  background-color: #a2b48b;
  padding-bottom: 60px;
}

.heading-news {
  padding-top: 50px;
  margin-bottom: 0;
  color: white;
  background-color: #a2b48b;
  text-shadow: 2px 0px 8px #000000;
}

.news {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.item {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 350px;
  margin: 50px;

  -webkit-box-shadow: 0px 0px 10px 2px #000000;
  box-shadow: 0px 0px 10px 2px #000000;
}

.item img {
  min-width: 350px;
  padding-bottom: 10px;
}

.item h3 {
  font-size: 17px;
}

.item p {
  padding: 0px 10px;
  justify-content: center;
  font-size: 14px;
  line-height: 23px;
}

/* News section */

/* Footer */
footer {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #e5e5e5;
  display: block;
}

.inner-footer {
  font-family: Arial, Helvetica, sans-serif;
  width: 95%;
  margin: auto;
  padding: 30px 30px 5px 30px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.fot-items {
  width: 25%;
  padding: 10px 20px;
  box-sizing: border-box;
}

.fot-items p {
  font-size: 15px;
  text-align: left;
  line-height: 25px;
}

.fot-items h3 {
  margin: 10px 0;
}

.border {
  height: 5px;
  width: 60px;
  background-color: #3d6e00;
}

.fot-items ul {
  list-style: none;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.fot-items ul a {
  text-decoration: none;
  outline: none;
  color: #000000;
  transition: 0.3s;
}

.fot-items ul a:hover {
  color: #3d6e00;
  font-weight: bold;
}

.fot-items ul li {
  margin: 10px 0;
  height: 25px;
}

.fot-items li i {
  margin-right: 20px;
}

.fot-items img {
  max-width: 230px;
}

.footer-bottom {
  padding: 10px;
  background-color: #1d707b;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

@media (max-width: 1085px) {
  .fot-items {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .fot-items {
    width: 100%;
  }
}
/* Footer */
